.vs/
Releases/
Binaries/
Intermediate/
Saved/
Resources/
*.sln
*.vsconfig
.temp
gitutilsconf.json
enc_temp_folder/
DerivedDataCache
**/Build/**/FileOpenOrder/*OpenOrder.log
Build/**/Symbols
Build/PS[45]/sce_module
.s3lfs/**
.onebox
.onebox/**
**/Intermediate
**/Binaries
Plugins/*/Intermediate
Plugins/*/Binaries
Content/**/*_BuiltData.uasset